@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Lato:wght@400;700&display=swap");

$light-bg : #edf0f3;
$content: #fff;
$title: #818181;
$text: #3d3d3d;
$border: #e7e7e7;
$input-bg: #ececec;

$green-color: #3dc27b;
$orange-color: #e7b93a;
$error-color: #d93025;

$main-header-width: 250px;
$border-radius: 15px;
$box-shadow: 0 1px 10px rgba(0, 0, 0, 0.055),
0 1px 2px rgba(0, 0, 0, 0.068);

$light-shadow: 0 3px 6px rgba(0, 0, 0, 0.068),
0 3px 6px rgba(0, 0, 0, 0.144);

$mobile-width: 768px;


//General styles
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  background-color: $light-bg;
  transition: all 0.4s;
  color: $text;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

span,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a,
button {
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  background: none;
  cursor: pointer;
}


button,
input {
  border: none;
}

#logo {
  margin: 0;
  height: 50px;
}

#home-poster {
  margin-top: 2.5rem;
  width: 300px;
  height: auto;
}


h4 {
  display: flex;
  flex-direction: row;
  color: rgba($title, 0.6);
}

h4:before,
h4:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid rgba($title, 0.2);
  margin: auto;
}

h4:before {
  margin-right: 10px
}

h4:after {
  margin-left: 10px
}


//Displays
.flex {
  display: flex;
  justify-content: space-between;
}

.flex-inline {
  display: flex-inline;
}

.block {
  display: block;
}

.flow-root {
  display: flow-root;
}

.auto {
  margin: auto !important;
}

.centered {
  text-align: center;
  align-items: center;
}

.text-error {
  color: $error-color;
  font-size: 14px;
}

.outline-error {
  outline: 1px solid $error-color;
}

.m-r {
  margin-right: 1rem;
}

.m-l {
  margin-left: 1rem;
}

.p-l {
  padding-left: 1rem;
}

.p-r {
  padding-right: 1rem;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

#header-logo {
  height: 40px;
  margin: auto
}

//Form Styles - inputs - buttons
.form-group-inline {
  display: flex;
}

.form-control {
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: $border-radius;
  border: 1px solid $border;

  &:hover {
    background-color: rgba($input-bg, 0.10);
  }

  &::placeholder {
    color: rgba($text, 0.5);
  }

  &:focus {
    outline: none;
  }
}

.form-btn {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 12px 18px;
  color: #fff;
  background-color: $green-color;
  border-radius: $border-radius;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background-size: 300% 100%;

  &:hover {
    background-image: linear-gradient(to right, $green-color, #40e495, #30dd8a, #2bb673);
    background-position: 100% 0;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
}

.form-info {
  font-size: 14px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-t-1 {
  margin-top: 1rem;
}

.m-b-1 {
  margin-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.full {
  width: 100% !important;
}

.green {
  color: $green-color;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.n-t {
  margin-top: 0;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

:checked {
  color: $green-color;
}

.form-info__container {
  display: flex;
  font-size: 14px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.form-info__text {
  font-family: 'Roboto', sans-serif;
  color: $text;
}

.btn-secondary {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 12px 18px;
  color: #fff;
  background-color: $orange-color;
  border-radius: $border-radius;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background-size: 300% 100%;

  &:hover {
    background-image: linear-gradient(to right, $orange-color, #d4a43c, #dda630, #ce7006);
    background-position: 100% 0;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
}

.flex-responsive {
  display: flex;
}

.flex {
  display: flex;
}

.main__banner {
  background-color: $green-color !important;
  color: #fff;
}

.main__banner-img {
  height: auto;
  display: block;
}

//Table styles 
table {
  border-collapse: collapse;
  width: 100%;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  td,
  th {
    //border: 1px solid $border;
    padding: 10px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tbody tr:hover {
    background-color: rgba($green-color, 0.9);
    color: $content;
    transition: all .3s ease-in-out;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba($input-bg, 0.2);
    color: $title;
    font-family: 'Lato',
      sans-serif;
  }
}


//Custom checkbox 
input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label:before {
  content: "\2714";
  border: 0.1em solid $border;
  border-radius: 0.2em;
  display: inline-block;
  width: 0.8rem;
  height: 0.2rem;
  padding-left: 0.1em;
  padding-bottom: 1em;
  margin-right: 0.5em;
  vertical-align: top;
  color: transparent;
  transition: .2s;
  font-family: 'Roboto', sans-serif;
  font-size: 10px
}

input[type=checkbox]+label:active:before {
  transform: scale(0);

}

input[type=checkbox]:checked+label:before {
  background-color: $green-color;
  border-color: $green-color;
  color: #fff;
}

input[type=checkbox]:disabled+label:before {
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled+label:before {
  background-color: #bfb;
  border-color: #bfb;
}

//Home styles
.home-header {
  background-color: $content;
  padding: 0.2rem;
  font-size: 14px;
  box-shadow: $box-shadow;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: $text;
  }

  li a:hover {
    color: rgba($text, 0.7);
  }

}

.text-white {
  color: #fff;
}

.text-green {
  color: $green-color;
}

.text-light {
  color: rgba($title, 0.7);
  fill: rgba($title, 0.7);
}

.home-content {
  padding: 40px;
  margin: auto;
  width: 400px;
  margin-top: 3rem;
  border: 1px solid $border;
  border-radius: $border-radius;
  border-top: 2px solid $green-color;
  background-color: $content;
}

.content {
  padding: 40px;
  width: 400px;
  background-color: $content;
}

.border-right {
  border-right: 1px solid $border;
  border-bottom-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.border-left {
  border-left: 1px solid $border;
  border-bottom-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.poster {
  background-color: $green-color;
  color: $content;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.content-container {
  width: 800px;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  box-shadow: $box-shadow;
}


//dashboard menu 
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: $main-header-width;
  color: $text;
  background-color: $content;
  border-right: 1px solid $border;
box-shadow: $box-shadow;

  nav {
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }

  .main-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 35px;
  }
}

.main-header .main-menu {
  li:last-child {
    margin-top: auto;
    margin-bottom: 20px;
  }

  li>* {
    width: 100%;
    padding: 8px 10px;
  }

  li > div > button {
    padding: 10px 10px;
    width: 100%;
  }

  li a:hover {
    color: $content;
    border-radius: $border-radius;
    background-color: $green-color
  }

  li .active {
    color: $content;
    border-radius: $border-radius;
    background-color: $green-color
  }

  li>div button:hover {
    color: $content;
    border-radius: $border-radius;
    background-color: $green-color
  }

  .main-menu__heading h3 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 14px;
    margin-top: 12px;
    color: $title;
  }

}

.main-header .toggle-btn {
  display: block;
}

.main-header .main-menu a,
.main-header .main-menu button {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  transition: background 0.2s, color 0.2s;
}

.main-content {
  position: relative;
  left: $main-header-width;
  width: calc(100% - #{$main-header-width});
  min-height: 100vh;
  padding: 30px;
  color: $text;
}

.main-content .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.main-content .grid>article {
  display: flex;
  height: auto;
  padding: 20px;
  background: $content;
  border-radius: $border-radius;
  border: 1px solid $border;
}

.main-content .grid>article:first-child,
.main-content .grid>article:last-child {
  grid-column: 1 / -1;
}

.main-content .grid>article {
  box-shadow: $box-shadow;
}

.footer__container {
  position: fixed;
  bottom: 0 !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: $green-color;
  border-top: 1px solid $border;
  color: #fff;
}

.main {
  padding-bottom: 5rem
}

.text-left {
  text-align: left;
}


//Charts 
.chart-container {
  padding: 1rem
}

.chart-circle__container {
  .chart-circle {
    position: relative;
    display: inline-block;
    margin: 1rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ebebeb;
  }

  .chart-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: colorload 2s;
    animation: colorload 2s;
  }

  .chart-circle span {
    font-size: 1rem;
    color: #8b8b8b;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
  }

  .chart-circle span:after {
    content: "%";
    font-weight: 600;
    color: #8b8b8b;
  }

  .chart-circle.progress-1:after {
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), linear-gradient(280.6deg, $green-color 50%, #ebebeb 50%, #ebebeb);
  }
}


//Responsive mobile first
@media screen and (max-width: $mobile-width) {
  .home-header {
    padding-left: 0;
    padding-right: 0;
  }

  .home-content {
    width: 95%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    max-height: 100%;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  .content-container {
    display: inline-block;
    width: 100%;
    padding: 0;
  }

  .content {
    width: 90%;
    margin: auto;
    border-radius: $border-radius;
  }

  .form-group-inline {
    flex-direction: column;
  }

  .main-header,
  .main-content {
    position: static;
    width: 100%;
  }

  .main-header {
    padding: 0.5rem;
    border-bottom: 1px solid $border;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .main-header nav {
    flex-direction: row;
  }

  #logo {
    margin: 0;
    height: 50px;
    padding-left: 1rem;
  }

  #header-logo {
    display: none;
  }

  table {
    thead {
      display: none;
    }

    tbody td {
      display: block;
      text-align: center;
    }

    tbody td::before {
      content: attr(data-th);
      display: table-cell;
      text-align: center;
      font-weight: bold;
    }
  }

  .main-header .toggle-btn {
    display: block;
    padding: 15px;
    margin-left: 60%;
    transition: all 0.6s;
  }

  .main-header .main-menu {
    width: $main-header-width;
    position: absolute;
    left: -0.5em;
    margin-top: -5em;
    z-index: 2;
    border-radius: $border-radius;
    background-color: $content;
    transform: scale(0.95);
    transition: all 0.2s;
    padding: 0.5rem;
    box-shadow: $light-shadow;
    display: none;
  }

  .main-header .main-menu li:nth-last-child(2) {
    margin-bottom: 12px;
  }

  .main-header .main-menu li:last-child button,
  .admin-profile .greeting {
    display: none;
  }

  .main-content {
    min-height: 0;
    padding: 10px;
  }

  .main-content .grid {
    grid-gap: 10px;
    display: block;

    article {
      margin: 1rem;
    }
  }

  .home-content {
    padding: 40px;
    margin: auto;
    width: 90%;
    margin-top: 2rem;
    margin-right: 1.3rem;
    margin-left: 1.3rem;
    border-radius: $border-radius;
    border-top: 2px solid $green-color;
  }

  .flex-responsive {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__banner-img {
    height: auto;
    display: block;
    width: 100%;
    align-items: center;
  }

  .main-header .toggle-btn {
    display: block !important;

    &:hover {
      background-color: $green-color;
      color: #fff;
      border-radius: $border-radius;
    }
  }


}
