<div>
    <div class="main-header">
      <nav>
        <a routerLink="/">
          <img src="../../../assets/logo.png" alt="Logo" class="p-l" id="logo" />
        </a>
        <button
          (click)="toggleSidebar()"
          class="toggle-btn hidden"
          aria-expanded="false"
          aria-label="open menu"
        >
          <i class="fas fa-bars fa-1x"></i>
        </button>
        <ul class="main-menu" [ngClass]="sidebarToggle ? 'visible' : 'hidden'">
          <li className="main-menu__heading" *ngFor="let item of items; let i = index" [attr.data-index]="i">
            <h3><i class="{{item.icon}}"></i> {{item.name}}</h3>
            <div *ngFor="let child of item.children">
              <button (click)="activateClass(child); showPanel(child.value)"  [ngClass]="{'active': child.active}"><i class="{{child.icon}}"></i>&nbsp;{{child.name}}</button>
            </div>
          </li>
          <div class="m-t-1 m-b-1"></div>
        </ul>
      </nav>
    </div>
    <section class="main-content">
      <section [ngClass]="homePanel ? '' : 'hidden'" class="grid">
        <article class="main__banner">
          <div class="flex-responsive">
            <div class="left main__banner-img">
              <img
                class="auto"
                src="../../../assets/reading.svg"
                alt="Book"
                style="height: 180px"
              />
            </div>
            <div class="px-1">
              <h2 class="m-t-1 full block">
                Keep track of everything your library has in it's creative
                dashboard
              </h2>
              <br />
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reprehenderit aperiam, temporibus, molestias veniam dicta
                excepturi voluptate deleniti consectetur quidem laudantium omnis
                ipsa natus ducimus harum vero nobis nisi quo doloribus.
              </p>
              <button class="btn-secondary">Learn More</button>
            </div>
            <div class="left main__banner-img">
              <img
                src="../../../assets/book.svg"
                alt="Book"
                style="width: 180px"
              />
            </div>
          </div>
        </article>
  
        <article>
          <chart-container class="full centered"></chart-container>
        </article>
        <article>
          <chart-container class="full centered"></chart-container>
        </article>
        <article>
          <chart-container class="full centered"></chart-container>
        </article>
        <article>222</article>
      </section>
  
      <section class="grid" [ngClass]="readerPanel ? 'visible' : 'hidden'">
        <article>
          <list-readers class="full"></list-readers>
        </article>
      </section>
      <section class="grid" [ngClass]="bookPanel ? 'visible' : 'hidden'">
        <article>
          <list-books class="full"></list-books>
        </article>
      </section>
    </section>
  </div>
  