<div class="chart-container">
  <div>
    <div class="left">
      <i class="fas fa-book fa-1x text-light">&nbsp;</i>
    </div>
    <div class="right">
      <i class="fas fa-ellipsis-v fa-1x pointer text-light">&nbsp;</i>
    </div>
    <div class="">
      <h3>Total Book Stock</h3>
      <p class="m-t-1 text-left">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis
        labore nihil molestias similique asperiores suscipit delectus quibusdam
        repellendus.
      </p>
    </div>
  </div>
  <div class="chart-circle__container">
    <div class="chart-circle progress-1"><span>45</span></div>
  </div>
</div>
