<div>
  <div>
    <div class="m-b-1 m-t-1 full">
      <h4>List of Readers</h4>
    </div>
    <button class="form-btn right">Add Reader</button>
  </div>

  <table class="table-fixed full">
    <thead>
      <tr>
        <th class="w-1/2 px-4 py-2">Username</th>
        <th class="w-1/4 px-4 py-2">Full Name</th>
        <th class="w-1/4 px-4 py-2">Address</th>
        <th class="w-1/4 px-4 py-2">Phone</th>
        <th class="w-1/4 px-4 py-2">Email</th>
        <th class="w-1/4 px-4 py-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reader of readers">
        <td class="border px-4 py-2">{{reader.username}}</td>
        <td class="border px-4 py-2">{{reader.firstname + ' ' + reader.lastname}}</td>
        <td class="border px-4 py-2">{{reader.address}}</td>
        <td class="border px-4 py-2">{{reader.phone}}</td>
        <td class="border px-4 py-2">{{reader.email}}</td>

        <td class="border px-4 py-2 text-center">
          <i class="fas fa-edit pointer m-r"></i>
          <i class="fas fa-trash pointer m-r"></i>
        </td>
      </tr>
      <span *ngIf="readers.length == 0">
        <tr>
          <td class="border px-4 py-2" colspan="5">No products found</td>
        </tr></span
      >
    </tbody>
  </table>
</div>
