<div class="home-content centered">
  <form [formGroup]="userForm" (ngSubmit)="login()">
    <img src="../../../assets/logo.png" id="logo" class="auto" alt="Logo" />
    <div class="form-group">
      <div class="m-b-1 m-t-1">
        <h4>Login</h4>
      </div>
      <input
        [ngClass]="{'outline-error' : userForm.get('username')?.hasError('required') && userForm.get('username')?.touched}"
        formControlName="username"
        type="text"
        name="username"
        class="form-control"
        id="username"
        placeholder="Username"
      />
      <input
      [ngClass]="{'outline-error' : userForm.get('password')?.hasError('required') && userForm.get('password')?.touched}"
        formControlName="password"
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
    </div>
    <div class="form-info__container">
      <div style="width: 40%">
        <input type="checkbox" id="remember" name="remember" value="remember" />
        <label for="remember">Remember</label>
      </div>

      <div style="width: 60%">
        <a href="#" class="bold green" style="padding-top: 1rem">
          Forget password?
        </a>
      </div>
    </div>
    <div><button type="submit" class="form-btn">Login</button></div>
  </form>
</div>
