<div>
<div >
    <div class="m-b-1 m-t-1 full">
    <h4>List of Readers</h4>
  </div><button class="form-btn right">Add Reader</button>
</div>
  
  

  <table class="table-fixed full">
    <thead>
      <tr>
        <th class="w-1/2 px-4 py-2">Product</th>
        <th class="w-1/4 px-4 py-2">Category</th>
        <th class="w-1/4 px-4 py-2">Location</th>
        <th class="w-1/4 px-4 py-2">Price</th>
        <th class="w-1/4 px-4 py-2"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border px-4 py-2">nada</td>
        <td class="border px-4 py-2">nada</td>
        <td class="border px-4 py-2">nada</td>
        <td class="border px-4 py-2">nada</td>

        <td class="border px-4 py-2 text-center">
          <i class="fas fa-edit pointer m-r"></i>
          <i class="fas fa-trash pointer m-r"></i>
        </td>
      </tr>
      <span>
        <tr>
          <td class="border px-4 py-2" colspan="5">No products found</td>
        </tr></span
      >
    </tbody>
  </table>
</div>
