<article class="main__banner">
  <div class="flex-responsive">
    <div class="left main__banner-img">
      <img
        class="auto"
        src="../../../assets/reading.svg"
        alt="Book"
        style="height: 180px"
      />
    </div>
    <div class="px-1">
      <h2 class="m-t-1 full block">
        Keep track of everything your library has in it's creative dashboard
      </h2>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        aperiam, temporibus, molestias veniam dicta excepturi voluptate deleniti
        consectetur quidem laudantium omnis ipsa natus ducimus harum vero nobis
        nisi quo doloribus.
      </p>
      <button class="btn-secondary">Learn More</button>
    </div>
    <div class="left main__banner-img">
      <img src="../../../assets/book.svg" alt="Book" style="width: 180px" />
    </div>
  </div>
</article>

<article>
  <chart-container class="full centered"></chart-container>
</article>
<article>
  <chart-container class="full centered"></chart-container>
</article>
<article>
  <chart-container class="full centered"></chart-container>
</article>
<article>222</article>
